@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tektur:wght@400..900&display=swap");

* {
    background-color: black;
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**
 * SECTION: HEADER
 */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header > img {
    width: 90px;
}

/**
 * SECTION: FORM
 */
section {
    background-color: darkgreen;
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

section > form {
    background-color: transparent;
    margin: 20px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}

.grid-item {
    padding: 10px;
    background-color: transparent;
}

.inp-lbl {
    display: block;
    font-size: 10px;
    text-transform: uppercase;
    background-color: transparent;
    margin-bottom: 2px;
}

.inp-fld {
    display: block;
    padding: 10px;
    background-color: transparent;
    border-radius: 10px;
    border: 1px solid white;
}

/**
 * SECTION: INVESTMENT TABLE
 */
main {
    width: 65vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

main > table {
    width: 90%;
    text-align: right;
    border: none;
}

th {
    color: lightgreen;
    font-size: 12px;
}

td {
    padding: 7px;
}
