*{
	font-family: 'Avenir', Helvetica, Arial, sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 25px;

}

.container > h1{
	text-align: center;
	width: 75%;
}

.container > form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	width: 75%;
}

.new-todo {
	padding: 10px 7px 10px 7px;
	background-color: bisque;
	width: 350px;
	font-size: 18px;
	border: none;
	border-bottom: 2px solid black;
}

.btn-submit {
	width: 350px;
	color: white;
	background-color: darkgoldenrod;
	padding: 10px 7px 10px 7px;
}

.container > ul {
	padding-top: 25px;
	list-style: none;
	width: 350px;
}

.container > ul > li {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
	width: 100%;
	background-color: bisque;
	padding: 10px 7px 10px 7px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container > ul > li > span:first-child {
	padding-top: 4px;
}

.trash-can {
	cursor: pointer;
}