spring:
  application:
    name: tsg-9.27-TheAvengers-feedback-analytics-consumer

  kafka:
    # Kafka inside Docker
    bootstrap-servers: ${SPRING_KAFKA_BOOTSTRAP_SERVERS:kafka:29092}

    consumer:
      group-id: feedback-analytics-consumer
      auto-offset-reset: earliest

    listener:
      missing-topics-fatal: false

server:
  port: 8080

logging:
  level:
    org:
      springframework:
        kafka: INFO
    net:
      yorksolutions:
        tsg:
          feedbackconsumer: DEBUG
