header {
    background-color: lightgrey;
}
nav {
    padding-top: 15px;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: deepskyblue;
}

a.active {
    color: mediumvioletred;
}
